<nav class="navbar navbar-expand-lg">
	<a class="navbar-brand" routerLink="producten">{{ navbar.title }}</a>
	<button (click)="toggleMenu()" class="navbar-toggler p-0" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
	  <span class="navbar-toggler-icon">
		  <mat-icon *ngIf="!this.activeMenu">menu</mat-icon>
		  <mat-icon *ngIf="this.activeMenu">close</mat-icon>
	  </span>
	</button>
	<div class="collapse navbar-collapse pt-2" id="navbarNav" [ngClass]="this.activeMenu ? 'show' : ''">
	  <ul class="navbar-nav">
		<li class="nav-item active">
		  <a class="nav-link" routerLinkActive="active" routerLink="producten">Producten <span class="sr-only">(current)</span></a>
		</li>
		<li class="nav-item">
		  <a class="nav-link" routerLinkActive="active" routerLink="veelgestelde-vragen">Veelgestelde vragen</a>
		</li>
		<li class="nav-item">
		  <a class="nav-link" routerLinkActive="active" routerLink="content">Content</a>
		</li>
	</ul>
	</div>
	
	<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bell mr-3 d-none d-lg-block" viewBox="0 0 16 16">
		<path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zM8 1.918l-.797.161A4.002 4.002 0 0 0 4 6c0 .628-.134 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4.002 4.002 0 0 0-3.203-3.92L8 1.917zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 1 1 1.99 0A5.002 5.002 0 0 1 13 6c0 .88.32 4.2 1.22 6z"/>
	</svg>
	<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search d-none d-lg-block mr-3" viewBox="0 0 16 16">
		<path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
	</svg>

	<button 
		(click)="logOut()" 
		class="btn btn-outline-primary white-outline d-lg-block" 
		[ngClass]="this.activeMenu ? 'd-block ml-0 my-3' : 'd-none'">
		{{ navbar.logout }}
	</button>
	
</nav>
  